In [4]:
import pandas as pd

notas_df = pd.read_csv('notas_alunos.csv')

notas_df['Média'] = (notas_df['Nota 1'] + notas_df['Nota 2']) / 2
notas_df.loc[:, 'Situação'] = '-'

media = notas_df['Média']
faltas = notas_df['Faltas']

notas_df.loc[notas_df['Média'] >= 7, 'Situação'] = 'Aprovado'
notas_df.loc[notas_df['Média'] < 7, 'Situação'] = 'Reprovado'
notas_df.loc[notas_df['Faltas'] >= 5, 'Situação'] = 'Reprovado'

display(notas_df)

  Nome do Aluno  Nota 1  Nota 2  Faltas  Média   Situação
0         Paulo       7       7       1    7.0   Aprovado
1         Maria       3      10       7    6.5  Reprovado
2          João       9       4       2    6.5  Reprovado
3         Carla      10       6       9    8.0  Reprovado